{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Params.jumbotron_title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb3">Latest stories</h2>

    <div class="mw7 center">
      <ul class="flex-ns flex-wrap mhn1-ns pa3">
          {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
            {{ if le .PublishDate now }}
              <div class="w-50-ns ph1-ns flex">
                {{ .Render "li"}}
              </div>
            {{ end }}
          {{ end }}
      </ul>
      {{ partial "pagination" . }}
    </div>
  </div>
</div>

{{ end }}
